{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<h1>Home page</h1>
<p>You're log</p>
<a href="/modify">Consulter vos informations utilisateur</a>
{% endblock %}
