{% extends 'base.html.twig' %}

{% block title %}Créer une banque{% endblock %}

{% block body %}

    <h1>Créer une banque</h1>
    {{ form_errors(creationForm) }}
    {{ form_start(creationForm) }}
    
    {{ form_end(creationForm) }}
{% endblock %}