{% extends 'base.html.twig' %}

{% block title %}Créer un compte{% endblock %}

{% block body %}

    <h1>Créer un compte</h1>
    {{ form_errors(creationForm) }}
    {{ form_start(creationForm) }}
    
    {{ form_end(creationForm) }}
{% endblock %}