@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: white;
}

table{
    @apply table;
}

tr{
    @apply hover;

}

h1{
    @apply collapse-title text-xl font-medium;
}

button{
    @apply btn bg-base-content text-white
}

.join{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.joinDivSearch{
    width:93%;
}
.indicator{
    width:7%;
}

.indicator>button{
    width:100%;
}
.joinDivSearch>div{
    width:100%;
}

.joinDivSearch>div>input{
    width:100%;
}

#liste_menu{
    @apply mt-4 space-y-2
}

#liste_menu>li>a{
    @apply block py-2 px-4 rounded hover:bg-base-300
}